<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="listeners.Listeners" />
	</listeners>
	<test name="FourTest" thread-count="5">
		<classes>
			<class name="FWpack.FourTest" />
		</classes>
	</test>
	<test name="LoginTest" thread-count="5">
		<classes>
			<class name="FWpack.LoginTest" />
		</classes>
	</test>
	<test name="TwoTest" thread-count="5">
		<classes>
			<class name="FWpack.TwoTest" />
		</classes>
	</test>
	<test name="ThreeTest" thread-count="5">
		<classes>
			<class name="FWpack.ThreeTest" />
		</classes>
	</test>
</suite>
